<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置jedis连接池对象 -->
    <bean id="config" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="200"/>
        <property name="maxIdle" value="100"/>
        <property name="minIdle" value="50"/>
    </bean>

    <!-- 配置jedis的连接工厂 -->
    <bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="poolConfig" ref="config"/>
        <property name="hostName" value="192.168.159.188"/>
        <property name="port" value="6379"/>
        <property name="password" value="root"/>
    </bean>

    <!-- 配置redis模板 -->
    <bean class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <!-- 设置redis模板key的序列化方式为string的序列化 -->
        <property name="keySerializer" ref="jdkSerializationRedisSerializer"/>
        <!-- 设置redis模板value的序列化方式为string的序列化 -->
        <property name="valueSerializer" ref="jdkSerializationRedisSerializer"/>
    </bean>

    <bean id="stringRedisSerializer" class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
    <!-- 默认的序列化方式 -->
    <bean id="jdkSerializationRedisSerializer" class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer"/>
</beans>